html *
{
   color: #000;
   font-family: Trebuchet MS !important;
}
body{
	padding-top: 10px;
	padding-left:5px;
	padding-right: 5px;
}
img{
	max-width: 100%;
	max-height:100%;
}
h3{
	margin: 20px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
}
button{
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	padding: 0.2em 0.2em;
	background-color: white;
}

.row{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}
.row > [class*='col-']{
	display:flex;
	flex-direction:column;
}
canvas{
	height:95%;
}
div#sidebar-left{
	border: 2px solid black;
	margin-right: 2px;
    padding: 0px;
}
div#wrapper {	
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
}
div#sidebar-right{
	padding:5px;
	margin-left:2px;
    border: 2px solid black;
}

.icon{
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
	padding: 0.5em 0.5em;
	height:80px;
	width: 80px;
}

div#node-name{
	padding: 0.5em 0.2em;
}

div#play {
	margin:auto;
}
div#stop {
	margin:auto;
}
div#delete {
	position: absolute;
    bottom: 0.5%;
    right: 0.5%;
}
div#undelete{
	position: absolute;
	right:0.5%;
}


.param{
	padding: 0.5em 0.2em;
}

.buttons {
	cursor: pointer;
	padding: 0.2em 0.2em;
	height:40px;
	width: 40px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}
.effect-menu{
	right: 1%;
}
.plusBtn{
	width: 25px;
	image-rendering: -webkit-optimize-contrast;
	display:inline; 
	position:absolute; 
	right: 5%;
}
