html *
{
   /*font-size: 0.9em;*/
   color: #000;
   font-family: Trebuchet MS !important;
}

body{
	padding: 10px;
}

img{
	max-width: 100%;
	max-height:100%;
}
h3{
	margin: 10px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
}
.row{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	justify-content:space-around;
}
.row > [class*='col-']{
	display:flex;
	flex-direction:column;
}

div#sidebar-left{
	border: 2px solid black;
}
.icon{
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
	padding: 0.5em 0.5em;
	height:80px;
	width: 80px;
}
.plusBtn{
	width: 25px;
	image-rendering: -webkit-optimize-contrast;
	display:inline; 
	position:absolute; 
	right: 5%;
}

div#wrapper {	
    border: 2px solid black;
}
div#delete {
	position: absolute;
    bottom: 0.5%;
    right: 0.5%;
}
div#undelete{
	right:0.5%;
}

div#sidebar-right{
    border: 2px solid black;
}
.param{
	padding: 0.5em 0.5em;
}

div#node-name{
	padding: 0.2em 0em;
}

div#menu {

	/*border: 1px solid #D9D9D9;*/
	/*border-radius: 3px;*/
}

.buttons {
	cursor: pointer;
	padding: 0.2em 0.2em;
	height:40px;
	width: 40px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}
div#centBut{
	margin: 0 auto;
}
div#play {
	left:100px;
}
div#stop {
	left: 200px;
}

.effect-menu{
	right: 1%;
}
