html *
{
   font-size: 0.9em !important;
   color: #000 !important;
   font-family: Trebuchet MS !important;
}

#canvas {
	min-height: 480px;
	border: 2px solid black;
}
div#mainbar{
	float: left;
    width: 80%;
    margin-right: 8px;
    /*border: 2px solid black;*/
}

div#sidebar{
	margin-left: 81%;
	min-width: 140px;
    border: 2px solid black;
    min-height: 532px;
}

div#node-name{
	padding: 0.5em 0.5em;
}

div#menu {
	width:80%;
}

#drag-elements li {
	display: inline-block;
	padding: 0.5em 0.5em;
	margin: 0 0.5em 0.5em 0;
	border: 1px solid #D9D9D9;
	background: #F7F7F7;
	border-radius: 3px;
}

.play {
	background-image: url('png/arrow551.png');
    background-repeat: no-repeat;
    background-position: 50% 10px;
}

.pause {
	background-image: url('png/pause19.png');
    background-repeat: no-repeat;
    background-position: 50% 10px;
}

.stop {
	background-image: url('png/square82.png');
    background-repeat: no-repeat;
    background-position: 50% 10px;
}
